input[type="input"]{

    color: #BCBDBB;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    background-color: var(--main-color);
    border: none;

}

.input__style:hover{
    box-shadow: 10px 10px 10px var(--btn-primary);
}