:root{
    --main-color: #17181A;
    
    --btn-primary: #505050;
    --btn-primary-text: #D4D4D2;

    --btn-grey : #D4D4D2;
    --btn-grey-text: #1C1C1C;

    --btn-orange :#FF9500;
    --btn-orange-text: #FBFBFD;
}
